{% extends 'base.html.twig' %}
{% block body %}
<h1>Register</h1>
<div class="row">
  <div class="col-md-3 offset-md-6">
    <p>
      You have been registered.
    </p>
    <p>
      <a href="{{ path('security_login') }}" class="btn btn-primary">Click here to login</a>
    </p>
  </div>
</div>
{% endblock %}