{% extends 'base.html.twig' %}
{% block body %}
  <h1>Homepage</h1>
  <p>Very simple to-do application</p>
  <p>Start with <a href="#" class="btn btn-primary">Login</a> or <a href="#" class="btn btn-primary">Creating new account</a></p>
{% endblock %}